h1{
    text-align: center;
}

.assistance {
    display: flex;
    align-items: center;
    img{
        width: 30rem;
    }
    .logo{
        width: 5rem;
    }
}

i{
    font-size: 3rem;
    padding: 0 1rem;
    color: blue;
    }

.phone{
    display: flex;
    align-items: center;
}

